 /*reset style*/
 * {
    margin: 0px;
    padding: 0px;
    list-style: none;
    text-decoration: none;
}

/*basic style*/

html {
    scroll-behavior: smooth;
}

body {
    width: 100%;
    height: 100vh;
}

.container-green {
    background-color: #EDF2EC;
    display: flex;
    justify-content: center;
}

.container {
    display: flex;
    justify-content: center;
}

.green {
    color: #499A18;
}

.red {
    color: #E06733;
}

.section-text {
    font-family: 'Inter';
    font-size: 20px;
    font-weight: 400;
    line-height: 35px;
    color: #636060;
}
/*style of header*/
header {
    background-color: #edf2ec;
    display: flex;
    justify-content: center;
}

nav {
    display: flex;
    margin: 2.9% 0% 0% 0%;
    width: 84.63%;
    max-width: 1222px;
    justify-content: space-between;
}
.logo {
    display: flex;
    align-items: center;
}
.img-logo {
    width: 20px;
    position: relative;
    bottom: 5px;
    right: 1px;
}
.logo-title {
    font-family: Inika;
    font-weight: 400;
    font-size: 16px;
    line-height: 21px;
}
.nav-list {
    display: flex;
    flex-direction: row;
    width: 31.3vw;
    height: 50px;
    align-items: center;
    justify-content: space-between;
    font-size: 1.1vw;
    font-family: 'Inika';
}

.nav-link {
    color: #010201;
    font-weight: 400;
    transition: .1s linear;
}

.nav-link:hover {
    color: #E06733;
    font-weight: 700;
}

/*style of main page*/
.home {
    width: 84.86%;
    max-width: 1222px;
    display: flex;
    justify-content: space-between;
    margin: 6.7% 1% 3.3% 0.4%;
}
.inside-home-img {
    width: 32vw;
    max-width: 458.9px;
    margin: 0% 0% 1% -0.6%;
}

.home-text {
    width: 44.92%;
    max-width: 549px;
}

.main-title {
    font-family: 'inter';
    font-size: 3.13vw;
    font-weight: 700;
    color: #717171;
    line-height: 3.5vw;
    margin: 8% 0.6% 4% 0.77%;
}


.home-text > .section-text {
    margin: 8% 1% 1% 0.8%;
    font-size: 1.389vw;
    line-height: 2.37vw;
}

.welcome-button {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 10.972vw;
    max-width: 158px;
    height: 3.056vw;
    border-radius: 10px;
    border: 2px solid #E06733;
    background: none;
    text-transform: uppercase;
    margin: 7.9% 1% 1% 0.8%;
    font-family: 'Inter';
    font-size: 1.12vw;
    transition: .1s linear;
}

.welcome-button:visited {
    color: #000;
}

.welcome-button:hover {
    background-color: #E06733;
    color: #fff;
}

.welcome-button:active {
    border: 2px solid #924423;
    background-color: #924423;
    color: #fff;
}
/*about us*/

.about-us {
    width: 84.86%;
    max-width: 1222px;
    display: flex;
    justify-content: space-between;
    margin: 0.3% 0 0 0;
}
.about-us-text {
    width: 49.4%;
    max-width: 605px;
    margin: 12.9% 0% 0% 0%;
}

.about-us-text > .section-title {
    font-family: 'Inika';
    font-size: 2.778vw;
    font-weight: 400;
    margin-bottom: 6.4%;
    color: #499A18;
}

.about-us-text > .section-text {
    font-family: 'Inter';
    font-size: 1.388vw;
    line-height: 2.083vw;
    color: #636060;
}

.about-us-img {
    margin: 7.3% 0%;
}

.about-us-img > img {
    width: 32.2vw;
}
/*services*/
.service {
    width: 84.86%;
    max-width: 1222px;
    margin: 0.3% 0 0 0;
}

.service-head {
    display: flex;
    width: 82.41%;
    max-width: 1007px;
    justify-content: space-between;
    margin: 3.2% 0 0 0;
}
.service-head > .section-title {
    font-family: 'Inika';
    font-size: 2.778vw;
    width: 36%;
    font-weight: 400;
    color: #499A18;
    position: relative;
    bottom: 2.4px;
}

.button-bar {
    width: 55.51%;
    max-width: 559px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.button-service {
    width: 11.181vw;
    height: 3.472vw;
    border: 1px solid #E06733;
    border-radius: 5px;
    font-family: 'Inika';
    font-size: 1.389vw;
    background: none;
    color: #E06733;
    transition: .1s linear;
}

.button-service:hover {
    background-color: #E06733;
    color: #fff;
}

.button-service:active {
    border: 1px solid #924423;
    background-color: #924423;
    color: #fff;
}

.button-service.active {
    border: 1px solid #E06733;
    background-color: #E06733;
    color: #fff;
}

.button-service.active:active {
    border: 1px solid #924423;
    background-color: #924423;
    color: #fff;
}

.service-list {
    margin: 6.3% 0 5.4% 0;
    width: 100%;
    max-width: 1222px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.servise-item {
    display: flex;
    margin-bottom: 3.7vw;
    flex-direction: column;
    align-items: center;
    transition: 0.5s linear;
}

.servise-item.garden.blur {
    filter: blur(2px);
}

.servise-item.planting.blur {
    filter: blur(2px);
}

.servise-item.lawn.blur {
    filter: blur(2px);
}

.service-img {
    width: 22.84722222vw;
    max-width: 330px;
    position: absolute;
    bottom: 72px;
    margin: 0 auto;
    display: block;
    top: -20.7%;
}

.title-service-img {
    width: 99.5%;
    height: 6.8vw;
    border: 1px solid #E3E1D5;
    position: relative;
    border-radius: 0 0 20px 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    bottom: 1px;
}

p.service-img-title {
    font-family: 'Inter';
    font-weight: 700;
    font-size: 1.389vw;
    line-height: 1.389vw;
    color: #E06733;
    margin: 2.5% 0 4.3% 0%;
}

p.service-img-text {
    font-family: 'Inter';
    color: #717171;
    font-size: 1.1115vw;
}

.cropped-img {
    background-size: cover;
    overflow: hidden;
    width: 22.91666667vw;
    max-width: 330px;
    height: 24.30555556vw;
    max-height: 350px;
    border-radius: 20px 20px 0 0;
    transition: .3s linear;
    border: 1px solid transparent;
    position: relative;
}

.cropped-img:hover {
    border: 1px solid #000000;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

.servise-item:nth-child(3) > .cropped-img:nth-child(1) > .service-img {
    width: 36.31944444vw;
    max-width: 523px;
    right: -98px;
    top: 0;
}

/*price section*/
.price {
    width: 84.86%;
    max-width: 1222px;
    display: flex;
    justify-content: space-between;
    margin: 0 0 7.5% 0;
}

.prices {
    width: 27.17%;
    max-width: 332px;
    margin: 3.1% 0 0 0;
}
.prices > h2 {
    font-family: 'inter';
    font-weight: 700;
    font-size: 2.778vw;
}

.price-list {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    height: 19.48vw;
    border: 1px solid #E3E1D5;
    border-radius: 20px;
    margin: 18.2% 0 0 0;
}

.tariff-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 17.361vw;
    height: 3.672vw;
    background: #EDF2EC;
    border-radius: 1.389vw;
    cursor: pointer;
    position: relative;
}


p.tariff-title {
    font-family: 'inter';
    font-size: 1.389vw;
    font-weight: 700;
    margin: 0 0% 0 15.9%;
    z-index: 1;
}

.arrow-down {
    margin: 0 16.2% 0% 0;
    width: 1.111vw;
    height: 1.111vw;
    border-radius: 50%;
    background: #D9D9D9;
    align-items: center;
    display: flex;
    justify-content: center;
    transition: 0.2s linear;
    z-index: 1;
}

.tarif-content {
    margin: 0;
    height: 0px;
    visibility: hidden;
    transition: 0.2s cubic-bezier(0.25, 0.46, 0.45, 0.94);
    border-radius: 0 0 1.389vw 1.389vw;
    background: #D6E7D2;
    width: 17.361vw;
    color: #717171;
    font-family: inter;
    font-size: 0.694vw;
    opacity: 0;
    width: 17.361vw;
}

.tarif-content.active {
    visibility: visible;
    height: 8.222vw;
    opacity: 1;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.order {
    display: flex;
    width: 5.972vw;
    height: 1.736vw;
    background: #FFFFFF;
    border-radius: 0.694vw;
    text-align: center;
    margin: 0.833vw 0 0.833vw 2.778vw;
    font-family: inter;
    color: #717171;
    font-size: 0.972vw;
    font-weight: 700;
    align-items: center;
    justify-content: center;
}

.tarif-content.active::before {
    content: '';
    position: absolute;
    left: 2.778vw;
    background: #AEA1A1;
    width: 65.6%;
    height: 0.5px;
}

p.tarif-description {
    width: 11.736vw;
    margin: 0.417vw 2.778vw;
}

.wrapper {
    display: flex;
    flex-direction: column;
}

.tariff-item.basic.active,
.tariff-item.standard.active,
.tariff-item.pro-care.active {
    border-radius: 1.389vw 1.389vw 0 0 ;
    background: #D6E7D2;
}

p.tarif-price {
    margin: 0 2.778vw;
    color: #000;
}

.contact-us {
    width: 36.98%;
    max-width: 452px;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.\$ {
    display: inline;
    font-family: inter;
    font-size: 0.833vw;
    color: #E06733;
    font-weight: 700;
}

span.price {
    display: inline;
    font-family: inter;
    font-size: 1.111vw;
    color: #E06733;
    font-weight: 700;
}

.price-text {
    font-family: 'inter';
    font-weight: 700;
    font-size: 2.778vw;
    margin: 8.6% 0 0 0;
    text-align: end;
    line-height: 3.472vw;
}

.button-contact {
    width: 11.2vw;
    height: 3.472vw;
    border: 1px solid #E06733;
    border-radius: 5px;
    font-family: 'Inika';
    font-size: 1.389vw;
    background: none;
    color: #E06733;
    margin: 8.9% 0.1% 0% 0;
    font-weight: 700;
    transition: .1s linear;
    display: flex;
    align-items: center;
    justify-content: center;
}

.button-contact:hover {
    background-color: #E06733;
    color: #fff;
}

.button-contact:active {
    border: 1px solid #924423;
    background-color: #924423;
    color: #fff;
}


.price-img {
    margin: 8% 0 0 0%;
    position: relative;
    right: -10px;
    width: 11.428vw;
}

/*contact section*/
.contact {
    width: 84.86%;
    max-width: 1222px;
    height: 38.194vw;
    display: flex;
    justify-content: space-between;
}

.contact-section-img {
    width: 32.73%;
    max-width: 400px;
    margin: 4.3% 0 0 0;
}

.contact-section-img > a {
    width: 27.778vw;
}

.contact-section-title {
    font-family: 'Inika';
    font-weight: 700;
    font-size: 1.849vw;
    color: #499A18;
    position: relative;
    right: -1.8%;
    margin-top: 4.9%;
}

.contact-item {
    width: 31.25vw;
    height: 3.472vw;
    background: #D6E7D2;
    border-radius: 4px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-family: 'inter';
    color: #717171;
    font-size: 1.489vw;
    position: relative;
    top: 26.7%;
    box-shadow: 0px 4px 4px 0px rgb(0 0 0 / 25%);
    cursor: pointer;
}

.contact-title{
    margin: 0 0 0 4.5%;
    z-index: 2;
}

.contact-item > .arrow-down {
    margin: 0 7.8% 0% 0%;
    background: #AEA1A1;
    z-index: 2;
}

.contact-img {
    width: 27.778vw;
}

.contact-wrapper {
    display: flex;
    position: relative;
    justify-content: center;
}

div.contact {
    position: absolute;
    border: 1px solid black;
    width: 31.111vw;
    height: 0px;
    border-radius: 1.389vw;
    display: flex;
    flex-direction: column;
    top: 17.014vw;
    visibility: hidden;
    opacity: 0;
    transition: .2s linear;
}

div.contact.yonkers.active, 
div.contact.canandaigua.active,
div.contact.sherrill.active,
div.contact.new-york-city.active {
    height: 14.861vw;
    visibility: visible;
    opacity: 1;
}

table {
    width: 23.542vw;
    height: 11.458vw;
    font-family: inter;
    font-size: 1.111vw;
    margin: 1.181vw 0 0 2.292vw;
}

.call-us {
    width: 8.472vw;
    height: 2.653vw;
    border: 1px solid #E06733;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 0.347vw;
    margin: 1.667vw 0 2.222vw 11.25vw;
    color:#717171;
    font-family: inika;
    font-size: 0.694vw;
}

td.title {
    font-family: Inter;
    font-weight: 400;
    font-size: 1.111vw;
    color: #000;
}

td {
    color: #717171;
}

.adresses {
    width: 31.042vw;
    height: 0px;
    position: absolute;
    top: 13.681vw;
    visibility: hidden;
    opacity: 0;
    transition: .2s linear;
}

.adresses.active {
    height: 16.25px;
    visibility: visible;
    opacity: 1;
}

.city-name {
    width: 26.389vw;
    height: 2.431vw;
    margin: 0.833vw 0 0 2.431vw;
    color: #499A18;
    font-family: inter;
    font-size: 1.111vw;
    border-bottom: 1px solid #D9D9D9;
    transition: .2s linear;
    cursor: pointer;
}

.city-name:hover{
    color: #717171;
    border-bottom: 1px solid #717171;
}

.city-name:nth-child(1) {
    margin-top: 1.875vw;
}

/*footer*/

.footer-inside {
    width: 84.86%;
    max-width: 1222px;
    margin: 0 auto;
}

.content {
    display: flex;
    flex-direction: row;
    width: 100%;
    max-width: 1222px;
    justify-content: space-between;
    height: 3.472vw;
    align-items: center;
    margin: 2.778vw 0;
}

.footer-data {
    display: flex;
    font-size: 1.389vw;
    font-family: 'inter';
    width: 11.7vw;
    justify-content: space-between;
}

.rs-school {
    font-family: 'inter';
    font-size: 1.389vw;
    position: relative;
    left: 7.1px;
}

.social-list-input {
    display: flex;
    justify-content: space-between;
    width: 12.8vw;
    position: relative;
    top: 2px;
    right: 2px;
}

.github-link > a {
    color: #000;
    transition: .3s linear;
}

.rs-school > a {
    color: #000;
}



.burger-menu {
    display: none;
}

.pop-up {
    display: none;
}

@media (min-width: 50px) and (max-width: 700px) {
    nav {
        margin: 10.2% 0% 0% 0%;
        width: 86.84210526%;
        /* max-width: 330px; */
    }

    .nav-list {
        display: none;
    }

    .home-img {
        display: none;
    }

    .burger-menu {
        display: flex;
        width: 40px;
        height: 24px;
        flex-direction: column;
        justify-content: center;
        position: relative;
        z-index: 3;
    }

    .burger-menu:before, 
    .burger-menu:after {
        position: absolute;
        width: 100%;
        height: 2px;
        background-color: #717171;
        transition: 0.3s linear;
    }

    .bar {
        width: 100%;
        height: 2px;
        background-color: #717171;
        margin: 3px 0;
        transition: 0.3s linear;
    }

    .burger-menu {
        transform: translate(0%, -16.8%);
      }

    .burger-menu::before {
        content: '';
        top: -1px;
    }
    .burger-menu::after {
        content: '';
        top: 23px
    }

    .burger-menu.active::before {
        transform: rotate(45deg);
        top: 11px;
    }
      .burger-menu.active::after {
        transform: rotate(-45deg);
        top: 11px;

      }

      .burger-menu.active .bar {
        height: 0;
      }

      .pop-up {
        width: 100%;
        height: 100vh;
        background: #edf2ec;
        position: absolute;
        display: flex;
        z-index: 1;
        left: 0%;
        top: 0;
        transition: 0.3s linear;
        transform: translateX(-100%);
        justify-content: center;
        box-shadow: -5px -4px 4px 0px rgb(0 0 0 / 15%);
    }

      .pop-up.active {
        transform: translateX(0%);
      }

      main {
        position: relative;
        top: 0;
      }

      .pop-up__links {
        height: 50%;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        margin: 32% 0px;
        font-size: 4.737vw;
      }

      .nav-link {
        color: #636060;
      }

      .home {
        width: 86.84%;
        /* max-width: 330px; */
        display: flex;
        justify-content: space-between;
        margin: 6.7% 1% 3.3% 0.4%;
        flex-direction: column;
    }
    .home-text {
        width: 100%;
        /* max-width: 330px; */
    }

    .main-title {
        font-size: 6.575947vw;
        line-height: 9.210526vw;
        margin: 10.1% 0% 0% 0.3%;
    }

    .home-text > .section-text {
        margin: 6.6% 1% 1% 0.4%;
        font-size: 4.210526vw;
        line-height: 6.578947vw;
    }

    .welcome-button {
        width: 30.3%;
        /* max-width: 100px; */
        height: 11.25%;
        margin: 6.6% 1% 8.9% 0.3%;;
        font-size: 2.631579vw;
    }

    .container {
        display: flex;
        justify-content: center;
    }

    .about-us {
        width: 86.84%;
        /* max-width: 330px; */
        margin: 0% 0 0 0;
        flex-direction: column;
        align-items: center;
    }

    .about-us-text {
        width: 99.6%;
        /* max-width: 330px; */
        margin: 9.1% 0% 0% 0%;
    }

    .about-us-text > .section-title {
        font-size: 6.578947vw;
        margin-bottom: 4.6%;
        line-height: 8.571053vw;
        text-align: center;
    }

    .about-us-text > .section-text {
        font-size: 3.947368vw;
        line-height: 6.578947vw;
    }

    .about-us-img {
        margin: 0 0 6.7% 0;
    }

    .about-us-img > img {
        width: 39.47368vw;
    }

    .servise-item {
        margin-bottom: 8.3vw;
    }

    p.service-img-text {
        font-size: 4.210526vw;
        margin: 0px 11.5%;
        text-align: center;
    }
    p.service-img-title {
        font-size: 5.263158vw;
        line-height: 5.263158vw;
        margin: 3.5% 0 3.4% 0%;
    }

    .title-service-img {
        width: 98.9%;
        height: 25.91579vw;
        position: relative;
        bottom: 1px;
        max-width: none;
    }

    .cropped-img {
        width: 73.42105vw;
        max-width: none;
        height: 92.10526vw;
        max-height: none;
    }

    .service-img {
        width: 73.647222vw;
        max-width: none;
        top: -10%;
    }

    .service-head {
        display: flex;
        width: 100%;
        /* max-width: 330px; */
        justify-content: space-between;
        margin: 9.9% 0 0% 0;
        flex-direction: column;
        align-items: flex-start;
    }

    .button-service {
        width: 31.84211vw;
        height: 9.210526vw;
        font-size: 3.947368vw;
    }

    .button-bar {
        width: 66.31579vw;
        flex-wrap: wrap;
        margin-top: 9.7%;
        height: 23.48947vw;
    }

    .service-head > .section-title {
        font-size: 6.578947vw;
        width: 49.21053vw;
        position: relative;
        bottom: 2.4px;
        width: 84%;
        /*max-width: 330px;*/
    }
      
    .service {
        width: 86.84210526%;
        /*max-width: 330px;*/
        margin: 0% 0 0 0;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
    }

    .service-list {
        width: 100%;
        /*max-width: 330px;*/
        margin: 10.4% 0 -2.1% 0;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .servise-item:nth-child(3) > .cropped-img:nth-child(1) > .service-img {
        width: 138.319444vw;
        max-width: none;
        right: -44%;
        top: 0;
    }
    .price {
        width: 60.52631579%;
        /*max-width: 230px;*/
        display: flex;
        justify-content: space-between;
        margin: 0;
        flex-direction: column;
        align-items: center;
        margin-bottom: 10.5%;
    }

    .prices {
        width: 97.7%;
        max-width: none;
        position: relative;
        margin: 11.1% 0 0 0;
        left: 1px;
    }
    
    .prices > h2 {
        font-family: 'inter';
        font-weight: 700;
        font-size: 6.578947vw;
        text-align: center;
    }
    .price-list {
        height: 61.34211vw;
        margin: 16.6% 0 0 0;
    }
    .tariff-item {
        width: 47.36842vw;
        height: 13.08421vw;
    }

    .tarif-content {
        width: 47.361vw;
        height: 0px;
        font-size: 1.994vw;
    }

    .tarif-content.active {
    height: 18.222vw;

    }


    .tarif-content.active::before {
        left: 6.378vw;
    } 

    p.tarif-description {
        width: 34.736vw;
        margin: 1.417vw 6.378vw;
    }

    p.tarif-price {
        font-size: 1.994vw;
        margin: 0 0 0 6.378vw;
    }

    span.price {
        font-size: 1.994vw;
    }

    .\$ {
        font-size: 1.394vw;
    }

    .order {
        width: 12.572vw;
        height: 3.236vw;
        margin: 0.833vw 0 0.233vw 6.378vw;
        font-size: 1.972vw;
    }

    p.tariff-title {
        font-size: 3.947368vw;
        margin: 0.7% 0% 0 16.7%;
    }

    .arrow-down {
        margin: 2% 22.2% 0% 0;
        width: 4.210526vw;
        height: 4.210526vw;
    }

    .contact-us {
        width: 100%;
        /*max-width: 230px;*/
        display: flex;
        align-items: center;
    }

    .price-text {
        font-size: 5.263158vw;
        margin: 8.5% 0% 0% 0.7%;
        text-align: center;
        line-height: 9.210526vw;
    }

    .button-contact {
        width: 31.84211vw;
        height: 9.210526vw;
        font-size: 3.947368vw;
        margin: 8.9% 0.1% 0% 0;
    }

    .price-img {
        display: none;
    }

    .contact {
        width: 78.94736842vw;
        /*max-width: 300px;*/
        height: 117.1053vw;
        display: flex;
        justify-content: space-between;
        flex-direction: column-reverse;
        align-items: center;
    }

    .contact-section-title {
        font-size: 4.378947vw;
        right: 0.6%;
        bottom: 32.5%;
    }

    .contact-item {
        width: 78.94737vw;
        height: 13.15789vw;
        font-size: 5.92632vw;
        top: 36vw;
        right: 0.5%;
    }

    .contact-title {
        margin: 0px 0 0 5.6%;
    }

    .contact-item > .arrow-down {
        margin: 0 6.4% 0% 0%;
    }

    .contact-section-img {
        width: 32.73%;
        /*max-width: 100px;*/
        position: relative;
        top: 0.9%;
        right: 1%;
    }

    .contact-img {
        width: 26.31579vw;
    }

    .adresses {
        width: 78.947vw;
        top: 51.381vw;
    }

    .city-name {
        width: 71.389vw;
        height: 8.431vw;
        font-size: 4.211vw;
    }

    div.contact {
        width: 74.211vw;
        top: 55.895vw;
    }

    div.contact.yonkers.active, div.contact.canandaigua.active, div.contact.sherrill.active, div.contact.new-york-city.active {
        height: 55.789vw;
    }

    table {
        width: 55.263vw;
        height: 43.684vw;
        font-size: 4.211vw;
        margin: 6.053vw 0 0 0;
    }

    td.title {
        font-size: 4.211vw;
    }

    .call-us {
        width: 31.105vw;
        height: 6.862vw;
        border-radius: 2.347vw;
        margin: 0 0 3vw 0px;
        font-size: 2.632vw;
    }

    footer {
    position: relative;
    }

    .footer-inside {
        display: flex;
        justify-content: center;
    }

    .content {
        display: flex;
        flex-direction: column;
        width: 100%;
        /*max-width: 210px;*/
        height: 37.32105vw;
        align-items: center;
        margin: 0;
    }

    .footer-inside {
        width: 84.86%;
        /*max-width: 210px;*/
        margin: 0 auto;
        display: flex;
        justify-content: center;
    }

    .footer-data {
        font-size: 5.263158vw;
        width: 44.8vw;
        margin-top: 6.7%;
        position: relative;
        right: 1%;
    }

    .github-link {
        position: relative;
        left: 1%;
    }

    .rs-school {
        font-family: 'inter';
        font-size: 5.263158vw;
        position: relative;
        left: -0.3%;
        bottom: -1%;
    }

    .social-list-input {
        width: 48.67368vw;
        top: 0;
        right: 0;
        margin-bottom: 5.7%;
    }

    .social-list-items:nth-child(1)>.social-media> .social-media-logo {
        width: 7.368421053vw;
    }
    .social-list-items:nth-child(2)>.social-media> .social-media-logo {
        width: 4.473684211vw;
    }
    .social-list-items:nth-child(3)>.social-media> .social-media-logo {
        width: 7.368421053vw;
    }
    .social-list-items:nth-child(4)>.social-media> .social-media-logo {
        width: 7.368421053vw;
    }

    .social-list-items:nth-child(2) {
        position: relative;
        left: 2px;
    }
    .social-list-items:nth-child(3) {
        position: relative;
        left: 3.4px;
        top: 3.1px;
    }

    .body.active {
        overflow: hidden;
    }

    .pop-up .pop-up__links > .nav-item {
        position: relative;
        text-align: center;
    }

    .pop-up .pop-up__links > .nav-item::before {
        content: '';
        width: 100%;
        height: 1px;
        position: absolute;
        background: #499A18;
        top: 121%;
        left: 0;
    }

}

@media (min-width: 700px) and (max-width: 900px) {
    .burger-menu {
        display: none;
    }
    .pop-up {
        display: none;
    }

    nav {
        margin: 4.4% 0% 0% 0%;
        width: 86.97%;
        max-width: 668px;
    }

    .nav-list {
        width: 58.85vw;
        max-width: 452px;
        font-size: 2.083vw;
    }

    .nav-list {
        width: 59.52vw;
        max-width: 451px;
        font-size: 2.083vw;
        margin: 2px 1px 0px 0px;
    }
    .home {
        width: 86.98%;
        max-width: 668px;
        margin: 6.7% 0% 3.3% 0%;
        flex-direction: row-reverse;
    }

    .inside-home-img {
        width: 62.158vw;
        max-width: 287px;
        margin: 5.3% 0% 0% 0.6%;
    }

    .home-text {
        width: 51.79%;
        max-width: 346px;
        margin-bottom: 6.1%;
    }

    .main-title {
        font-size: 4.557vw;
        line-height: 6.51vw;
        margin: 6% 0% 4% 0%;
    }

    .home-text > .section-text {
        margin: 9% 1% 1% 1.4%;
        font-size: 2.083vw;
        line-height: 3.255vw;
    }

    .welcome-button {
        width: 20.573vw;
        height: 5.729vw;
        margin: 8.9% 1% 1% 0%;
        font-size: 2.0833vw;
    }

    .about-us {
        width: 86.98%;
        max-width: 668px;
        flex-direction: column;
        align-items: center;
    }
    .about-us-text {
        width: 100%;
        max-width: 668px;
        margin: 5.7% 0% 0% 0%;
    }
    
    .about-us-text > .section-title {
        font-size: 4.557vw;
        text-align: center;
        line-height: 5.939vw;
        width: 63.323%;
        max-width: 423px;
        margin: 0 0 7.6% 18.2%;
        margin-bottom: 7.4%;
    }

    .about-us-text > .section-text {
        font-size: 2.604vw;
        line-height: 1.506;
    }

    .about-us-img {
        margin: 10.2% 0% 13.9% 0%;
    }

    .service {
        width: 86.979%;
        max-width: 668px;
    }

    .service-head {
        flex-direction: column;
        width: 83.682%;
        max-width: 559px;
        margin: 9% 0 0 0;        
    }

    .service-head > .section-title {
        font-size: 4.557vw;
        width: 52.108%;
        bottom: 0px;
        margin-bottom: 7.6%;        
    }

    .button-bar {
        width: 100%;
        max-width: 559px;
    }

    .button-service {
        width: 20.963vw;
        height: 6.51vw;
        font-size: 2.604vw;
    }

    .service-list {
        max-width: 668px;
        margin: 5.9% 0 4.6% 0;
    }

    .service-img {
        width: 36.458vw;
        position: absolute;
        bottom: 72px;
        margin: 0 auto;
        display: block;
        top: -10.2%;
        /* max-width: 280px; */
    }

    .cropped-img {
        width: 36.3vw;
        /* max-width: 280px; */
        height: 45.573vw;
        max-height: 350px;
    }

    .title-service-img {
        width: 100%;
        height: 12.821vw;
    }

    p.service-img-title {
        font-size: 2.604167vw;
        line-height: 2.604167vw;
        margin: 3.1% 0 3.6% 0%;
    }

    p.service-img-text {
        font-family: 'Inter';
        color: #717171;
        font-size: 2.0833333vw;
        width: 71.785714%;
        text-align: center;
    }

    .servise-item {
        margin-bottom: 4.7vw;
    }

    .servise-item:nth-child(3) > .cropped-img:nth-child(1) > .service-img {
        width: 68.22917vw;
        max-width: 524px;
        right: -122px;
    }

    .price {
        width: 86.97917%;
        max-width: 668px;
        margin: 0 0 10.8% 0;
    }

    .prices {
        width: 49.7%;
        margin: 6.1% 0 0 0%;
    }

    .prices > h2 {
        font-size: 4.557292vw;
        margin: 0 4.4%;
    }

    .price-list {
        height: 36.41875vw;
        margin: 17.2% 0 0 0;
    }

    .tarif-content {
        width: 32.561vw;
        height: 0px;
        font-size: 1.294vw;
    }

    .tarif-content.active {
    height: 15.222vw;

    }


    .tarif-content.active::before {
        left: 5.478vw;
    } 

    p.tarif-description {
        width: 21.536vw;
        margin: 1.417vw 5.478vw;;
    }

    p.tarif-price {
        font-size: 1.294vw;
        margin: 0 0 0 5.478vw;
    }

    span.price {
        font-size: 1.294vw
    }

    .\$ {
        font-size: 0.894vw;
    }

    .order {
        width: 12.572vw;
        height: 3.236vw;
        margin: 0.833vw 0 0.233vw 5.478vw;;
        font-size: 1.972vw;
    }

    .tariff-item {
        width: 32.55208vw;
        height: 6.510417vw;
    }

    p.tariff-title {
        font-size: 2.604167vw;
        margin: 0.5% 0% 0 15.9%;
    }

    .arrow-down {
        margin: 0 15.6% 0.7% 0;
        width: 2.08333vw;
        height: 2.08333vw;
    }
    
    .price-text {
        font-size: 3.255208vw;
        margin: 47.2% 0 0 0;
        line-height: 4.657292vw;
    }
    .contact-us {
        width: 44.311377%;
        max-width: 296px;
    }

    .button-contact {
        width: 21.09375vw;
        height: 6.510417vw;
        font-size: 2.604167vw;
    }

    .price-img {
        margin: 10.3% 0 0 0%;
        right: -8.7px;
        width: 21.39167vw;
    }

    .contact {
        width: 85.979167%;
        max-width: 668px;
        height: 96.194vw;
        flex-direction: column-reverse;
    }

    .contact-section-title {
        font-size: 3.449vw;
        margin: 0 auto;
        bottom: 25.5%;
        right: 0%;
    }

    .contact-item {
        width: 58.59375vw;
        height: 6.510417vw;
        font-size: 2.604167vw;
        top: 24.7vw;
    }

    .contact-section-img {
        width: 26.04167vw;
        max-width: 200px;
        left: 36.3%;
        top: 0.5%;
        position: relative;
    }

    .adresses {
        width: 58.542vw;
        top: 31.181vw;
    }

    .city-name:nth-child(1) {
        margin-top: 3.875vw;
    }
    .city-name {
        width: 49.479vw;
        height: 4.557vw;
        margin: 0.833vw 0 0 2.431vw;
        font-size: 2.083vw;
    }

    div.contact {
        width: 58.333vw;
        border-radius: 2.604vw;
        top: 34.957vw;
    }

    div.contact.yonkers.active, 
    div.contact.canandaigua.active, 
    div.contact.sherrill.active, 
    div.contact.new-york-city.active {
        height: 27.865vw;
    }

    table {
        width: 43.229vw;
        height: 14.323vw;
        font-family: inter;
        font-size: 2.083vw;
        margin: 2.214vw 0 0 4.297vw;
    }

    td.title {
        font-size: 2.083vw;
    }

    .call-us {
        width: 15.885vw;
        height: 3.385vw;
        border-radius: 0.651vw;
        margin: 1.667vw 0 4.167vw 21.094vw;
        font-size: 1.302vw;
    }

    .contact-img {
        width: 26.04167vw;
    }

    .footer-inside {
        width: 29.9479166%;
        max-width: 230px;
        margin: 0 auto;
    }

    .content {
        flex-direction: column;
        width: 100%;
        max-width: 230px;
        height: 15.72708vw;
        margin: 4.296875vw auto;
    }

    .footer-data {
        font-size: 2.589vw;
        width: 22.04375vw;
        position: relative;
        right: 1.1%;
    }

    .github-link {
        position: relative;
        left: 1.1%;
    }

    .rs-school {
        font-size: 2.604167vw;
        position: relative;
        left: -0.8px;
        bottom: 4.1%;
    }

    .social-list-input {
        display: flex;
        justify-content: space-between;
        width: 24.07917vw;
        position: relative;
        top: 2.4px;
        right: 0;
    }

    .social-list-items:nth-child(1)>.social-media> .social-media-logo {
        width: 3.645833vw;
    }
    .social-list-items:nth-child(2)>.social-media> .social-media-logo {
        width: 2.213541667vw;
    }
    .social-list-items:nth-child(3)>.social-media> .social-media-logo {
        width: 3.645833vw;
    }
    .social-list-items:nth-child(4)>.social-media> .social-media-logo {
        width: 3.645833vw;
    }

}

@media (min-width: 1450px) {
    .burger-menu {
        display: none;
    }

    .pop-up {
        display: none;
    }

    .nav-list {
        font-size: 16px;
        width: 452px;
    }
    .nav {
        margin: 42px 0;
        max-width: 1222px;
    }
    .logo {
        position: relative;
        bottom: 1px;
        left: 3.6px;
    }
    .home {
        margin: 54px 0px 0px 0px;
    }

    .main-title {
        font-size: 45px;
        line-height: 50px;
        margin: 44px 0px 1px 0.3px;
    }

    .home-text > .section-text {
        margin: 44px 0px 1px 0px;
        font-size: 20px;
        line-height: 35px;
    }

    .inside-home-img {
        width: 459px;
        position: relative;
        right: 4px;
    }

    .home-text {
        width: 44.92%;
        max-width: 549px;
    }
    .welcome-button {
        width: 158px;
        height: 44px;
        margin: 46px 0px 94px 0px;
        font-size: 16px;
    }

    .about-us {
        width: 84.86%;
        max-width: 1222px;
        display: flex;
        justify-content: space-between;
        margin: 0px;
    }

    .about-us-text {
        width: 49.4%;
        max-width: 605px;
        margin: 161px 0% 0% 0%;
    }

    .about-us-text > .section-title {
        font-size: 40px;
    }

    .about-us-text > .section-text {
        font-size: 20px;
        line-height: 30px
    }

    .about-us-img {
        margin: 93px 0 90px 0;
    }

    .about-us-img > img {
        width: 464px;
    }

    .service {
        margin: 0px 0px 66px 0px;
    }

    .service-head > .section-title {
        font-size: 40px;
        max-width: 306px;
        bottom: -1px;
        left: 0.4px;
    }
    .button-service {
        width: 161px;
        height: 50px;
        font-size: 20px;
    }

    .button-bar {
        margin: 6.5px 0px 1px 0px;
    }

    .service-img {
        width: 330px;
    }

    .title-service-img {
        width: 328px;
        height: 98px;
    }

    .service-list {
        margin: 81px 0px 0px 0px;
        width: 1222px;
    }

    p.service-img-title {
        font-size: 20px;
        line-height: 20px;
        margin: 9px 0px 1px 0px;
    }

    p.service-img-text {
        font-size: 16px;
        margin: 13px 0px 1px 0px;
    }

    .servise-item {
        margin-bottom: 55px;
    }

    .prices {
        margin: 38px 0 0 0;
    }

    .prices > h2 {
        font-size: 40px;
    }

    .price-list {
        height: 280.01px;
        margin: 60px 0 0 0;
    }

    .tariff-item {
        width: 250px;
        height: 50px;
    }

    p.tariff-title {
        font-size: 20px;
        margin: 2px 0 0 40.2px;
    }

    .arrow-down {
        margin: 0 40px 0% 0;
        width: 16px;
        height: 16px;
    }

    .price-text {
        font-size: 40px;
        margin: 39px 0 0 0;
        line-height: 50px;
    }

    .button-contact {
        width: 162px;
        height: 50px;
        font-size: 20px;
        margin: 40.2px 0px 0% 0;
    }

    .tarif-content {
        width: 250px;
        height: 0px;
        font-size: 10px;
    }

    .tarif-content.active {
        height: 119px;

    }

    .tarif-content.active::before {
        left: 40px;
    } 

    p.tarif-description {
        width: 169px;
        margin: 6px 40px;
    }

    p.tarif-price {
        font-size: 12px;
        margin: 0 0 0 40px;
    }

    span.price {
        font-size: 17px;
    }

    .\$ {
        font-size: 12px;
    }

    .order {
        width: 86px;
        height: 25px;
        margin: 12px 0 12px 40px;
        font-size: 14px;
    }

    .price-img {
        margin: 34px 0.1px 0 0%;
        width: 166px;
    }

    .price {
        margin: 0 0 108px 0;
    }

    .contact-img {
        width: 400px;
    }

    .contact-section-img {
        margin: 53px 0 0 0;
    }

    .contact-section-title {
        font-size: 26.6px;
        right: -22.8px;
        margin-top: 60px;
    }

    .contact-item {
        width: 450px;
        height: 50px;
        font-size: 20px;
        top: 148px;
    }

    div.contact {
        width: 448px;
        height: 0px;
        border-radius: 20px;
        top: 245px;
    }  

    div.contact.yonkers.active, 
    div.contact.canandaigua.active,
    div.contact.sherrill.active,
    div.contact.new-york-city.active {
        height: 214px;
    }

    table {
        width: 339px;
        height: 165px;
        font-size: 16px;
        margin: 17px 0 0 33px;
    }

    .call-us {
        width: 122px;
        height: 38.2px;
        border-radius: 5px;
        margin: 24px 0 32px 162px;
        font-size: 10px;
    }

    td.title {
        font-size: 16px;
    }

    .adresses {
        width: 447px;
        height: 0px;
        top: 197px;
    }

    .adresses.active {
        height: 234px;
    }

    .city-name {
        width: 380px;
        height: 35px;
        margin: 12px 0 0 35px;
        font-size: 16px;
    }

    .city-name:nth-child(1) {
        margin-top: 27px;
    }

    .contact {
        max-width: 1222px;
        height: 550px;
    }

    .content {
        height: 50px;
        margin: 39.9px 0.5px;
    }

    .rs-school {
        font-size: 20px;
        left: 7px;
    }

    .social-list-input {
        width: 184px;
        top: 2px;
        right: 2px;
    }

    .footer-data {
        font-size: 20px;
        width: 168px;
    }

    .social-list-items:nth-child(1)>.social-media> .social-media-logo {
        width: 28px;
    }

    .social-list-items:nth-child(2)>.social-media> .social-media-logo {
        width: 17px;
    }

    .social-list-items:nth-child(3)>.social-media> .social-media-logo {
        width: 28px;
    }

    .social-list-items:nth-child(4)>.social-media> .social-media-logo {
        width: 28px;
    }
}