html {
    scroll-behavior: smooth; /* свойство scroll-behavior не наследуется, применяется к прокручиваемым блокам */ 
}
ul,
p{
    margin: 0;
}
h1{
    margin: 0;
}
body{
    margin: 0 auto;
}
span{
    margin: 0;
    padding: 0;
}
ul[class],
ol[class],
div[class],
h2[class],
h1[class]{
padding: 0;
}
h2{
    font-family: 'Inika';
    font-style: normal;
    font-weight: 400;
    line-height: 52px;
    font-size: 40px;
    margin: 0;
}
header{
    background-color: rgba(237, 242, 236, 1);
}
.container{
    margin: 0px 109px;
}
.header-logo{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.logo-cvg{
    width: 80px;
    height: 20px;
}
.navbar{
    display: flex;
    justify-content: space-between;
    height: 134px;
}
.nav-list{
    display: flex;
    list-style: none;
    justify-content: space-between;
	align-items: center;
    max-width: 450px;
    width: 100%;
}
.nav-hover{
    text-decoration: none;
    color: black;
    transition: 0.3s;
    font-family: 'Inika';
    Font-style: 'Regular';
    font-weight: 400;
}
.nav-hover:hover{
    color: rgba(224, 103, 51, 1);
    font-style: bold;
    font-weight: 700;
}
/*header end*/



/*main start*/
.welcome{
    background-color: rgba(237, 242, 236, 1);
}
.welcome-section{
    display: flex;
    justify-content: space-between;
    height: 532px;
}
.text-and-button-welcome{
    display: flex;
    flex-direction: column;
    max-width: 548px;
}
.grow-plants{
    display: block;
    color: rgba(113, 113, 113, 1);
    font-family: 'Inter';
    font-size: 45px;
    line-height: 51px;
    margin: 98px 13px 42px 0px;
    text-align: justify;
}
.grow-plants span{
    color: rgba(73, 154, 24, 1);
    margin-top: 62px;
}
.lorem-Ipsum{
    font-size: 20px;
    font-weight: 400;
    color: rgba(99, 96, 96, 1);
    margin-bottom: 48px;
    line-height: 35px;
    font-style: normal;
    font-family: 'Inter';
}
.learn-more1{
    Font-family: 'Inter';
    Font-style: 'Regular';
    font-size: 16px;
    Line-height: 20px;
    white-space: nowrap;
}
.learn-more{
    color:black;
    padding: 10px 27px;
    background-color: rgba(237, 242, 236, 1);
    border-color:rgba(224, 103, 51, 1);
    border-radius: 10px;
    max-width: 158px;
    cursor: pointer;
    transition: 0.3s;
}
.learn-more:hover{
    background-color: rgba(224, 103, 51, 1);
}
.leafs-header{
    margin-top: 62px;
}
/*welcome end*/

/*about start*/
.text-and-images{
    display: flex;
    justify-content: space-between;
}
.common-text{
    max-width: 605px;
}
.span1-professional-experienced{
    color: rgba(73, 154, 24, 1);
    margin: 160px 0px 40px 0px;
}
.professional-experienced{
    color: rgba(224, 103, 51, 1);
}
.text-about{
    font-family: 'inter';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 30px;
    color: rgba(99, 96, 96, 1);
}
.picture-about{
    margin: 93px 0px 94px 0px;
}
/*about end*/

/*service start*/
.service{
    background-color: rgba(237, 242, 236, 1);
    padding-bottom: 120px;
}
.service-header{
    display: flex;
    align-items: center;
}
.button-service{
    border: 1px solid rgba(224, 103, 51, 1);
    color: #E06733;
    border-radius: 5px;
    width: 161px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.3s;
}
.button-service:hover{
    background-color: #E06733;
}
.Service-and-our{
    color: rgba(73, 154, 24, 1);
    margin: 40px 158px 80px 0px;
}
.service-header-container{
    display: flex;
    justify-content: space-between;
    width: 559px;
    align-items: center;
    height: 50px;
    margin-top: -37px;
}
.a-button-service{
    display: flex;
    justify-content: center;
    text-align: center;
    text-decoration: none;
    color: rgba(224, 103, 51, 1);
    font-family: 'Inika';
    font-style: normal;
    font-weight: 400;
    padding: 12px 40px;
    font-size: 20px;
}
.a-button-service:hover{
    color: #FFF;
}
.card-box-service{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    row-gap: 55px;
}
.card-box{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.mix-card-box{
    border: 1px solid rgba(227, 225, 213, 1);
    border-radius: 0px 0px 20px 20px;
    width: 100%;
    max-width: 328px;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 98px;
}
.text-top-card-box{
    color: rgba(224, 103, 51, 1);  
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 20px;
    margin: 10px 0px 14px 0px;
}
.text-bottom-card-box{
    color: rgba(113, 113, 113, 1); 
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    margin-bottom: 36px;
}
/*service end*/


/*Prices start*/
.box-prices{
    display: flex;
    justify-content: space-between;
}    
.drop-down-list{
    display: flex;
    flex-direction: column;
    max-width: 332px;
    max-height: 560px;
    border: 1px solid black;
    border-radius: 20px;
    border-color: rgba(227, 225, 213, 1);
    row-gap: 32px;
}
.down-list{
    padding: 12px 40px;
    border-radius: 20px;
    max-width: 250px;
    background-color: rgba(237, 242, 236, 1);
    border: 1px solid rgba(237, 242, 236, 1);
    list-style-type: none;
    cursor: pointer;
    font-family: 'Inter';
    font-weight: 700;
    font-size: 20px;
    display: flex;
    align-items: center;
}
.drop-down1{
    margin: 34px 41px 0px 41px;
}
.drop-down2{
    margin: 0px 41px 0px 41px;
}
.drop-down3{
    margin: 0px 41px 34px 41px;
}
.list-icon{
    margin-left: auto;
}
.prices{
    margin-top: 40px;
    margin-bottom: 110px;
    width: 100%;
}
.prices-h2{
    display: block;
    font-family: 'Inter';
    font-style: bold;
    font-weight: 700;
    font-size: 40px;
    line-height: 48px;
    margin-top: auto;
    margin-bottom: 60px;
    margin-left: 5px;
}
.rigth-box-prices{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    max-width: 470px;
    padding: 0px;
    text-align: justify;
}
.left-box-prices{
    width: 332px;
}
.text-right-box span{
    width: 30px;
}
.text-right-box{
    display: block;
    font-family: 'Inter';
    font-weight: 700;
    font-size: 40px;
    line-height: 50px;
    margin-bottom: 38px;
    width: 542px;
    text-align: right;
}
.text-box-gardeners{
    color: rgba(73, 154, 24, 1);
}
.button-contact-us-prices{
    padding: 12px 30px;
    border-color: rgba(224, 103, 51, 1);
    background-color: #fff;
    color: rgba(224, 103, 51, 1);
    font-family: 'Inika';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 26px;
    border-radius: 5px;
    cursor: pointer;
    transition: 0.3s;
    margin-bottom: 40px;
}
.button-contact-us-prices:hover{
    background-color: rgb(213, 108, 63);
    color: black;
}
.leafs-prices{
    width: 152px;
    height: 174px;
}
/*Prices end*/

/*contacts start*/
.contacts{
    background-color: rgba(237, 242, 236, 1);
}
.contacts-block{
    display: flex;
    justify-content: space-between;
}
.contacts-us{
    font-family: 'Inika';
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    line-height: 52px;
    color: rgba(73, 154, 24, 1);
    width: auto;
    margin-top: 60px;
}
.woman-images{
    margin-top: 53px;
    margin-right: 45px;
}
.button-contacts{
    max-width: 450px;
    box-sizing: border-box;
    width: 100%;
}
.button-adress{
    height: 47px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 148px;
    border: 1px solid rgba(214, 231, 210, 1);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    background-color: rgba(214, 231, 210, 1);
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    color: rgba(113, 113, 113, 1);
}
.city{
    margin: 5px 0px 5px 20px;
    margin-right: 0 auto;
}
.contacts-acc{
    margin: 5px 33px 5px 0px;
    margin-left: 0 auto;
}

/*contacts end*/

/*footer start*/
.link-git-data{
    display: flex;
    align-items: center;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 50px;
    column-gap: 22px;
}
.rs-school{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 50px;
    text-decoration: none;
    color:black;
}
.git{
    text-decoration: none;
    color:black;
}
.footer-display{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 40px 0px;
}
.footer-left{
    display: flex;
    justify-content: space-between;
}
.link-sites-profile{
    display: flex;
	list-style: none;
    column-gap: 20px;
}
.school-link{
    display: block;
    white-space: nowrap;
    margin-left: 15px;
}


/*footer end*/

/*main end*/
/*header start 768px*/

@media screen and (max-width: 900px) {
    .container{
        margin: 0px 50px;
    }
    .navbar{
        height: 117px;
    }
}

/*header end 768px*/

/*main start 768px*/

@media screen and (max-width: 900px){
    .picture-welcome{
        margin-top: 40px;
        width: 280px;
        height: 254.15px;
        order: 2;
    }
    .grow-plants{
        margin: 40px 0px 30px 0px;
        font-size: 35px;
        line-height: 50px;
        font-weight: 700;
        font-family: 'Inter';
        font-style: normal;
        height: 101px;
    }
    .leafs-header{
        width: 280px;
        height: 254.15px;
    }
    .lorem-Ipsum{
        margin-bottom: 30px;
        Line-height: 25px;
        font-weight: 400;
        font-size: 16px;
        font-family: 'Inter';
        font-style: normal;
    }
    br{
        display: none;
    }
    .text-and-button-welcome{
        float: left;
        width: 346px;
        height: 310px;
    }
    .welcome{
        height: 420px;
    }
    .learn-more{
        width: 158px;
        height: 44px;
        white-space: nowrap;
        box-sizing: border-box;
        display: flex;
        align-items: center;
    }
    .learn-more1{
        font-family: 'Inter';
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
    }
}

/*about start*/

@media screen and (max-width: 900px){
    .text-and-images{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .span1-professional-experienced{
        margin-top: 40px;
        max-width: 423px;
        text-align: center;
        font-family: 'Inika';
        font-style: normal;
        font-weight: 400;
        font-size: 35px;
        line-height: 46px;
    }
    .common-text{
        display: flex;
        flex-direction: column;
        align-items: center;
        font-family: 'Inter';
        font-style: normal;
        font-weight: 400;
        font-size: 20px;
        line-height: 30px;
    }
    .text-about{
    }
    .picture-about{
        width: 250px;
        height: 258px;
        margin: 40px 0px 95px 0px;
    }
}

/*about end 768px*/

/*service start 768px*/

@media screen and (max-width: 900px){
    .mix-card-box{
        width: 276px;
    }
    .service{
        padding-bottom: 70px;
    }
    .Service-and-our{
        margin: 0;
        width: 306px;
        font-family: 'Inika';
        font-style: normal;
        font-weight: 400;
        font-size: 35px;
        line-height: 46px;
        margin-bottom: 40px;
        margin-top: 60px;
    }
    .service-header{
        display: flex;
        flex-direction: column;
        align-items: flex-start;
    }
    .service-header-container{
        margin-bottom: 40px;
        width: 559px;
        column-gap: 38px;
    }
    .button-service{
        width: 161px;
    }
    .card-images{
        width: 280px;
        height: 350px;
    }
    .text-bottom-card-box{
        margin-bottom: 20px;
        width: 201px;
        text-align: center;
    }
    .a-button-service{
        width: 161px;
        max-height: 50px;
        font-family: 'Inika';
        font-style: normal;
        font-weight: 400;
        font-size: 20px;
        line-height: 26px;
    }
}

/*service end 768px*/

/*prices start 768px*/

@media screen and (max-width: 900px){
    .prices{
        margin-bottom: 88px;
    }
    .text-right-box{
        font-family: 'Inter';
        font-style: normal;
        font-weight: 700;
        font-size: 25px;
        line-height: 35px;
        margin-top: 139px;
        margin-bottom: 21px;
    }
    .button-contact-us-prices{
        margin-bottom: 34px;
    }
}


/*prices end 768px*/

/*contact-us start 768px*/

@media screen and (max-width: 900px){
    .contacts-us{
        order: -2;
        margin-top: 40px;
        margin-bottom: 100px;
        font-style: normal;
        font-weight: 700;
        font-size: 40px;
        line-height: 52px;
    }
    .button-contacts{
        order: -1;
    }
    .button-adress{
        margin-top: 0;
        width: 450px;
        height: 50px;
    }
    .contacts-block{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .woman-images{
        width: 200px;
        height: 248.49px;
        margin-top: 250px;
    }
}


/*contact-us end 768px*/

/*footer start 768px*/

@media screen and (max-width: 900px){
    .footer-display{
        display: flex;
        flex-direction: column;
        margin: 32px 0px 18px 0px;
    }
    .link-git-data{
        column-gap: 20px;
    }
    .school-link{
        margin-bottom: 16px;
    }
    .link-sites-profile{
        display: flex;
        column-gap: 20px;
    }
}

/*footer end 768px*/


/*main end 768px*/

@media screen and (max-width: 700px){
    .container{
        margin: 0px 25px;
    }
}

/*Header start 380px*/

@media screen and (max-width: 700px){
    .header-logo{
        height: 21px;
        width: 77px;
    }
    .navbar{
        display: flex;
        height: 96px;
        align-items: center;
    }
    .header{
        max-height: 96px;
        margin: 0 auto;
    }
    .nav-list{
        display: none;
    }
}
/*Header end 380px*/


/*main start 380px*/

/*welcome start 380px*/

@media screen and (max-width: 700px){
    .welcome{
        max-height: 300px;
    }
    .welcome-section{
    }
    .picture-welcome{
        display: none;
    }
    .grow-plants{
        height: 70px;
        margin: 24px 0px 20px 0px;
        font-family: 'Inter';
        font-style: normal;
        font-weight: 700;
        font-size: 25px;
        line-height: 35px;
    }
    .lorem-Ipsum{
        font-family: 'Inter';
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 25px;
    }
    .learn-more{
        height: 34px;
        padding: 8px 18px;
        width: 100px;
        border: 2px solid #E06733;
        border-radius: 10px;
        margin-top: -5px;
    }
    .learn-more1{
        font-family: 'Inter';
        font-style: normal;
        font-weight: 400;
        font-size: 10px;
        line-height: 20px;
    }
}

/*welcome end 380px*/

/*about start 380px*/

@media screen and (max-width: 700px){
    .span1-professional-experienced{
        margin: 30px 0px 10px 0px;
        width: 288px;
        font-family: 'Inika';
        font-style: normal;
        font-weight: 400;
        font-size: 25px;
        line-height: 33px;
        text-align: center;
    }
    .text-about{
        font-family: 'Inter';
        font-style: normal;
        font-weight: 400;
        font-size: 15px;
        line-height: 25px;
    }
    .picture-about{
        margin-top: 0;
        width: 150px;
        height: 147px;
        margin-bottom: 31px;
    }
}

/*about end 380px*/

/*Service start 380px*/

@media screen and (max-width: 700px){
    .service{
        padding-bottom: 25px;
    }
    .Service-and-our{
        margin: 35px 0px 35px 0px;
        font-family: 'Inika';
        font-style: normal;
        font-weight: 400;
        font-size: 25px;
        line-height: 33px;
        width: 187px;
    }
    .service-header-container{
        display: flex;
        flex-wrap: wrap;
        margin: 0px;
        width: 259px;
        column-gap: 10px;
        row-gap: 10px;
    }
    .button-service{
        width: 121px;
        height: 35px;
    }
    .a-button-service{
        font-family: 'Inika';
        font-style: normal;
        font-weight: 400;
        font-size: 15px;
        line-height: 20px;
    }
    .card-box-service{
        margin-top: 70px;
        display: flex;
        justify-content: center;
        row-gap: 35px;
    }
    .card-images{
        width: 279px;
        height: 350px;
    }
    .text-top-card-box{
        margin-bottom: 12px;
    }
}

/*Service end 380px*/

/*Price start 380px*/

@media screen and (max-width: 700px){
    .prices-h2{
        font-weight: 700;
        font-size: 25px;
        line-height: 30px;
        margin: 24px 0px 37px 0px;
    }
    .prices{
        margin: 0;
        height: 512px;
    }
    .box-prices{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
    }
    .images-leafs-prices{
        display: none;
    }
    .rigth-box-prices{
        margin: 0;
        text-align: center;
    }
    .text-right-box{
        margin: 19px 0px 18px 0px;
        text-align: center;
        font-weight: 700;
        font-size: 20px;
        line-height: 35px;
        width: 230px;
    }
    .drop-down-list{
        width: 224px;
        margin: 0px auto;
    }
    .drop-down1{
        margin: 29px 22px 13px 22px;
    }
    .drop-down2{
        margin: -29px 22px 13px 22px;
    }
    .drop-down3{
        margin: -30px 22px 29px 22px;
        white-space: nowrap;
    }
    .down-list{
        font-weight: 700;
        font-size: 15px;
        line-height: 20px;
        padding: 13px 30px;
    }
    .button-contact-us-prices{
        margin: 0 auto;
        margin-bottom: 40px;
        padding: 8px 22px;
        font-weight: 700;
        font-size: 15px;
        line-height: 20px;
    }
    .list-icon{
        margin-left: auto;
        margin-right: 10px;
    }
}

/*price end 380px*/

/*Contact-us start 380px*/

@media screen and (max-width: 700px){
    .contacts-us{
        margin: 25px 0px 80px 0px;
        font-size: 25px;
        line-height: 33px
    }
    .woman-images{
        margin-top: 130px;
        width: 100px;
        height: 124px;
        margin-right: 0;
    }
    .button-contacts{
        margin: 0 auto;
        width: 300px;
    }
    .button-adress{
        width: 300px;
    }
    .contacts-acc{
        margin-right: 23px;
        margin-left: auto;
    }
    .city{
        margin-left: 23px;
        font-weight: 400;
        font-size: 20px;
        line-height: 40px;
    }
    .contacts-us{
        display: flex;
        align-content: center;
        margin-left: 0 auto;
        max-width: 300px;
    }
}

/*Contact-us end 380px*/

/*Footer start 380px*/

@media screen and (max-width: 700px){
    .footer-display{
        margin: 7px 0px 21px 0px;
    }
    .link-git-data{
        width: 170px;
        column-gap: 20px;
    }
    .school-link{
        margin-top: -10px;
    }
    .link-sites-profile{
        margin-top: -15px;
    }
}

/*Footer end 380px*/

/*main end 380px*/